@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    animation: slide-top 0.2s;
}

@keyframes slide-top {
    0%{
        transform: translateY(-20px);
    }
    100%{ 
        transform: translateY(0px);

    }
}